[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = false
verbosity = 2

[rpc_endpoints]
mezo_testnet = "https://rpc.test.mezo.org"

[etherscan]
mezo_testnet = { key = "", url = "https://rpc.test.mezo.org" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
